<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Did I train today</title>
  <!-- <link rel="stylesheet" href="compiled/css/bootstrap.min.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="compiled/css/style.min.css">
</head>
<body>
  <div class="main-background">
    <nav class="header">
      <h1>DID <b>I</b> TRAIN <b>TODAY</b>?</h1>
    </nav>
    <div class="container">
      <div class="mainpanelwrap">
        <div class="mainpanel">
          <div class="row">
            <h2>Join us and train <b> today</b>!</h2>
          </div>
          <div class="row">
            <div class="registrationpanel">
              <div class="col-md-7">
                <div ng-controller="TooltipDemoCtrl">
                  <div class="form-group">
                    <label for="username"><h4>Username</h4></label>
                    <input type="text" id="username" ng-model="dynamicTooltipText" class="form-control">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">
              <div ng-controller="TooltipDemoCtrl">
                <div class="form-group">
                  <label for="username"><h4>Email</h4></label>
                  <input type="text" id="username" ng-model="dynamicTooltipText" class="form-control">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">
              <div ng-controller="TooltipDemoCtrl">
                <div class="form-group">
                  <label for="password"><h4>Password</h4></label>
                  <input type="password" id="password" ng-model="dynamicTooltipText" class="form-control">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 loginfooter">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
              <div class="col-md-4 col-md-offset-3 footerbtn">
                <a href="/login.html" class="btn"><h5>Back</h5></a>
              </div>
              <div class="col-md-5 footerbtn">
                <a href="#3" class="btn"><h5><b>Done</b></h5></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="compiled/js/main.min.js"></script>
<script src="compiled/js/datepicker.js"></script>
<script src="compiled/js/headerhide.js"></script>
</html>
