body {
  position: fixed;
  background-image: url("../../media/images/background1.jpg"); }

.main-background {
  color: black;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-y: auto; }

b {
  font-family: roboto-bold; }

h1 {
  font-family: roboto-thin;
  font-weight: 300;
  color: #fff;
  margin: 0px;
  line-height: 120px;
  text-align: center;
  font-size: 70px; }

h2 {
  font-family: roboto-thin;
  font-weight: 300;
  color: #000;
  margin: 0px;
  line-height: 120px;
  text-align: center;
  font-size: 70px; }

h3 {
  font-family: roboto-thin;
  font-weight: 300;
  color: #fff;
  margin: 0px;
  line-height: 100px;
  text-align: center;
  font-size: 70px; }

h4 {
  background-color: rgba(255, 0, 0, 0.6);
  font-family: roboto-thin;
  font-weight: 600;
  color: black;
  padding: 0px 30px 0px 30px;
  line-height: 80px;
  text-align: center;
  font-size: 40px; }

h5 {
  font-family: roboto-thin;
  font-weight: 600;
  color: #fff;
  line-height: 40px;
  font-size: 40px;
  text-align: center; }
  h5 .small {
    font-size: 300px; }

.navbar {
  position: fixed;
  z-index: 4;
  width: 100vw;
  text-align: center;
  height: 120px;
  vertical-align: middle;
  background-color: rgba(255, 0, 0, 0.7); }

.mainpanel {
  width: 100%;
  margin-top: 200px;
  background-color: rgba(255, 255, 255, 0.9);
  padding-bottom: 40px; }

.mainpanelwrap {
  box-shadow: 8px 8px 1px rgba(255, 0, 0, 0.7); }
  .mainpanelwrap .row {
    margin-right: 0px;
    margin-left: 0px; }

.container {
  padding-bottom: 50px; }

.optionbuttons {
  margin-top: 50px;
  margin-bottom: 50px; }

.btn {
  border-radius: 0px;
  padding: 0px;
  color: black; }

.footerbtn {
  padding: 10px; }

.footerbtn:hover {
  cursor: pointer; }
  .footerbtn:hover h5 {
    color: black; }

.DidI {
  background-color: rgba(255, 0, 0, 0.7);
  width: 100%;
  height: 100px;
  border: none;
  border-radius: 0px; }

.DidI:hover {
  transition-duration: 0.1s;
  border-bottom: solid 5px black; }
  .DidI:hover h3 {
    color: black; }

button:focus {
  outline: 0; }

.form-control {
  height: 70px;
  line-height: 50px;
  font-size: 50px;
  border: none;
  outline: none;
  box-shadow: none;
  border-bottom: 5px solid black;
  border-radius: 0px;
  background-color: transparent; }

.form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: rgba(255, 0, 0, 0.7); }

.hidden-input {
  background-color: transparent;
  border: none;
  box-shadow: none;
  outline: none; }

.exercise-name {
  height: 50px;
  line-height: 30px;
  font-size: 30px; }

.loginfooter {
  text-align: center;
  left: 0;
  position: relative;
  background-color: rgba(255, 0, 0, 0.7); }

.training .full button span {
  background-color: rgba(0, 0, 255, 0.7);
  border-radius: 1px;
  color: black; }
.training .partially button span {
  background-color: rgba(0, 255, 0, 0.7);
  border-radius: 1px;
  color: black; }
.training .uib-datepicker {
  font-size: 20px; }
  .training .uib-datepicker .ng-binding {
    font-size: 40px; }
.training .btn-default {
  border: solid rgba(0, 0, 0, 0.7) 1px;
  background-color: transparent; }
.training .btn:hover {
  background-color: rgba(200, 200, 200, 0.5); }
.training .well {
  outline: none;
  box-shadow: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.5); }
.training .exercise-name-group {
  float: right; }
.training h4 {
  margin-top: 25px;
  margin-bottom: 25px;
  color: #fff; }
.training .btn-group-sm > .btn, .training .btn-sm {
  padding: 15px; }
.training thead .uib-title {
  border: 0px;
  height: 92px;
  background-color: rgba(255, 0, 0, 0.7); }
.training thead .uib-right {
  background-color: rgba(255, 0, 0, 0.7);
  height: 92px;
  border: 0px; }
.training thead .uib-left {
  background-color: rgba(255, 0, 0, 0.7);
  border: 0px;
  height: 92px; }
.training thead .btn:hover {
  background-color: black;
  color: #fff;
  opacity: 0.6; }
.training .exercise-list {
  padding-top: 25px; }
.training .training-date {
  margin-bottom: 100px; }

@font-face {
  font-family: roboto-thin;
  src: url("../../media/fonts/roboto/roboto-thin.ttf"); }
@font-face {
  font-family: roboto-bold;
  src: url("../../media/fonts/roboto/roboto-bold.ttf"); }
@font-face {
  font-family: roboto-medium;
  src: url("../../media/fonts/roboto/roboto-Medium.ttf"); }
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("media/fonts/bootstrap/glyphicons-halflings-regular.ttf");
  src: url("media/fonts/bootstrap/glyphicons-halflings-regular.woff2");
  src: url("media/fonts/bootstrap/glyphicons-halflings-regular.woff"); }

/*# sourceMappingURL=style.css.map */
