.btn {
  border-radius: 0px;
  padding: 0px;
  color: black;
}

.btn.active, .btn:active {
  box-shadow: none;
  outline: none;
  opacity: 0.8;
}

.footerbtn {
  padding: 10px;
}

.footerbtn:hover {
  cursor: pointer;
  h5 {
      color: black;
  }
}


.DidI {
  background-color: $transparent-red;
  width: 100%;
  height: $btn-height;
  border: none;
  border-radius: 0px;
}

.DidI:hover {
  transition-duration: 0.1s;
  border-bottom: solid 5px black;
  h3 {
    color: black;
  }
}

button:focus {
  outline: none !important;
}

.btn-activity {
  padding: 5px;
  font-size: 3em;
  background-color: $transparent-black;
  color: #fff;
  width: 100%;
  border: none;
  margin: 2px 0px;
}
.less {
  margin-top: 5px;
  background-color: $transparent-black-light;
  font-size: 1.5em;
  width: 80%;
}

.btn-activity:hover {
  transition-duration: 0.1s;
  background-color: $transparent-black-dark;
}

.btn-activity:active {
  background-color: $transparent-black-light;
}
