.header {
  position: fixed;
  z-index: 4;
  width: 100vw;
  text-align: center;
  height: $navbar-height;
  vertical-align: middle;
  background-color: $transparent-red;
}

@media screen and (max-width: 660px) {
    .header {
        display: none;
        transition-duration: 0.3s;
    }
}
