.mainpanel {
  width:100%;
  margin-top: 200px;
  background-color: $transparent-white;

  padding-bottom: 40px;
}

.mainpanelwrap {
  box-shadow: 8px 8px 1px $transparent-red;
  .row {
    margin-right: 0px;
    margin-left: 0px;
  }
}

.container {
  padding-bottom: 50px;
}

.optionbuttons {
  margin-top: 50px;
  margin-bottom: 50px;
}
