.training {
  .full button span {
    background-color: $exercise1-color;
    border-radius: 1px;
    width:100%;
    color: black;
  }

  .partially button span {
    background-color: $exercise2-color;
    border-radius: 1px;
    color: black;
  }

  .uib-datepicker {
    .ng-binding {
      outline: none;
      box-shadow: none;
      border:none;
      font-size: 23px;
      color: #fff;
      font-family: roboto-thin;
      font-weight: 300;
    }
  }



  .btn-group-sm>.btn, .training .btn-sm {
    padding: 5px 30px;
  }

  .btn-default {
    border: solid $transparent-black 1px;
    background-color: transparent;
  }

  .btn:hover {
    background-color: $transparent-black;
    transition-duration: 0.5s;
    opacity:0.5;
  }

  .btn-info.active {
    background-color: $transparent-red-light;
  }
  .well {
    padding: 0;
    outline: none;
    box-shadow: none;
    border: none;
    background-color: $transparent-black-light;
    color: #fff;
  }

  .exercise-name-group {
    float:right;
    z-index: 5;
  }


  h4 {
    margin-top: 25px;
    margin-bottom: 25px;
    color: #fff;
  }

  h3 {
    color: black;
  }

  h2 {
    line-height: 70px;
  }

  .btn-group-sm>.btn, .btn-sm {
    padding:5px 30px;
  }

  .bottom-gap {
    margin-bottom: 70px;
  }

  .top-gap {
    margin-top: 70px;
  }

  thead {
    .uib-title {
      border: 0px;
      height: $well-header-height;
      background-color: $transparent-red-light;
    }

    .uib-right {
      background-color: $transparent-red-light;
      height: $well-header-height;
      border: 0px;
    }
    .uib-left {
      background-color: $transparent-red-light;
      border: 0px;
      height: $well-header-height;
    }
    .btn:hover {
      background-color: black;
      color: #fff;
      opacity:0.5;
      transition-duration: 0.5s;
    }
  }

  .exercise-list {
    padding-top: 25px;
  }

  .training-date {
    margin-bottom: 100px;
  }

  // TRAINING COLORS
  .exercise1 {
    background-color: $exercise1-color;
    height: 100%;
  }
  .exercise2 {
    background-color: $exercise2-color;
    height: 100%;
  }
  .exercise3 {
    background-color: $exercise3-color;
    height: 100%;
  }
  .exercise4 {
    background-color: $exercise4-color;
    height: 100%;
  }
  .current {
    border:solid 1px red;
  }

  #exercise1:hover, & #exercise1:focus {
    border-color: $exercise1-color;
  }
  #exercise2:hover, & #exercise2:focus {
    border-color: $exercise2-color;
  }
  #exercise3:hover, & #exercise3:focus {
    border-color: $exercise3-color;
  }
  #exercise4:hover, & #exercise4:focus {
    border-color: $exercise4-color;
  }

}
