// Colors

$transparent-red: rgba(255, 0, 0, 0.7);
$transparent-red-light: rgba(255, 0, 0, 0.6);
$transparent-red-dark: rgba(160, 0, 0, 0.8);
$transparent-white: rgba(255, 255, 255, 0.9);
$transparent-white-light: rgba(255, 255, 255, 0.5);
$transparent-gray: rgba(200, 200, 200, 0.5);
$transparent-black: rgba(0, 0, 0, 0.7);
$transparent-black-light: rgba(0, 0, 0, 0.6);
$transparent-black-dark: rgba(0, 0, 0, 0.8);
$navbar-height: 120px;
$footer-height: 40px;
$btn-height: 100px;
$well-header-height: 70px;
$exercise1-color: rgba(0, 0, 255, 0.7);
$exercise2-color: rgba(0, 255, 0, 0.7);
$exercise2-color: rgba(0, 255, 0, 0.7);
$exercise2-color: rgba(0, 255, 0, 0.7);
$exercise2-color: rgba(0, 255, 0, 0.7);
