// Colors

$transparent-red: rgba(255, 0, 0, 0.7);
$transparent-red-light: rgba(255, 0, 0, 0.6);
$transparent-white: rgba(255, 255, 255, 0.9);
$transparent-white-light: rgba(255, 255, 255, 0.5);
$navbar-height: 120px;
$footer-height: 40px;
$btn-height: 100px;
