@import "_variables";
@import "_style";
@import "_navbar";

@font-face {
    font-family: roboto-thin;
    src: url('../../media/fonts/roboto/roboto-thin.ttf');
}

@font-face {
font-family: roboto-bold;
src: url('../../media/fonts/roboto/roboto-bold.ttf');
}
