@import "_variables";
@import "_style";
@import "_navbar";
@import "_mainpanel";
@import "_buttons";
@import "_forms";
@import "_footer";
@import "_trainingdate";

@font-face {
    font-family: roboto-thin;
    src: url('../../media/fonts/roboto/roboto-thin.ttf');
}

@font-face {
font-family: roboto-bold;
src: url('../../media/fonts/roboto/roboto-bold.ttf');
}

@font-face {
font-family: roboto-medium;
src: url('../../media/fonts/roboto/roboto-Medium.ttf');
}

@font-face {
font-family: 'Glyphicons Halflings';
src: url('media/fonts/bootstrap/glyphicons-halflings-regular.ttf');
src: url('media/fonts/bootstrap/glyphicons-halflings-regular.woff2');
src: url('media/fonts/bootstrap/glyphicons-halflings-regular.woff');
}
